* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}


.parent{
    height: 100vh; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.nav{
    width: 100%;
    height: 50px;
    text-align: center;
}

a {
    display: inline-flex;
    vertical-align: middle;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

li {
    display: inline;
}

li a {
    display: inline;
    padding: 8px;
    color: black;
    text-decoration: none;
  }



.navListLeft{
    float: left;
}

.navListRight{
    float: right;
}
  

.navListLeftFooter{
    float: left;
}


.navListRightFooter {
    float: right;
}

.navListCenterFooter{
    display: inline;
}


.googleIcon{
    height: 200px;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

.searchBox{
    height: 200px;
    width: 100%;
    margin: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}



#form{
    width: 584px;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    height: 34px;
    margin:10px auto;
    font-size: 16px;
}

.button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin:10px auto;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
    user-select: none;
    display: inline-block;
}

.footer{
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 background-color: #f8f9fa;
 color: #dfe1e5;
 padding:20px;
}
